<template>
  <div id="app">
    <div class id="home">
      <Navigation></Navigation>
      <div class="caption text-center">
        <h1>Бронируйте лучшее жилье у нас</h1>
        <p>Отдых – это уникальные инвестиции для вашего здоровья</p>
        <button href class="btn btn-outline-light headbtn">Найти жилье</button>
      </div>
    </div>
    <section class="offset">
      <div class="col-12 form">
        <h1 class="offseth1">НАЙДИТЕ ЖИЛЬЕ В КАРАКОЛЕ ВМЕСТЕ С GUESTHOUSES</h1>
      </div>
    </section>
    <cardFilter></cardFilter>
    <section class="tab-body">
      <div class="container">
        <div class="row tabbody">
          <Card v-for="card in cards" :key="card.title" :card="card"></Card>
        </div>

        <div class="tab_btn d-flex justify-content-center">
          <button href class="btn btn-outline-light tabbtn" @click="Cimg()">Посмотреть еще</button>
        </div>
      </div>
    </section>
    <FooterComponent></FooterComponent>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation.vue";
import cardFilter from "@/components/cardFilter.vue";
import Card from "@/components/Card.vue";
import FooterComponent from "@/components/FooterComponent.vue";
export default {
  name: "Home",
  components: {
    Navigation,
    cardFilter,
    Card,
    FooterComponent,
  },
  data: {
      show: true,
  },
  data() {
    return {
    
      cards: [
        {
          title: "Мини-Пансионат «Калинка»",
          price: "от 14800 тг - до 23500 тг",
          src: require("@/assets/images/1.png"),
          rate: 10.0,
          type: "famous",
        },
        {
          src: require("@/assets/images/Rectangle 104.png"),
          title: "Гостевой дом «Аист»",
          price: "от 7800 тг - до 14800 тг",
          rate: 9.0,
          type: "active",
        },
        {
          src: require("@/assets/images/Rectangle 103.png"),
          title: "Арт-Отель «Аль-Хаят»",
          price: "от 11500 тг - до 33500 тг",
          rate: 7.5,
          type: "often",
        },
      ],
    };
  },
  created() {
    this.getCards();
  },
  methods: {
    getCards: function (filterValue = {}) {
      filterValue.type = "active";
      this.cards = result.filter((r) => r.type === filterValue.type);
    },
  },
};
</script>
