<template>
    <div> 
        <div class="groups justify-content-center">
            <div class="group13">
                <p>Цена</p>
                <div class="group12">
                    <input type="text" placeholder="от (тг)" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model="filterValue.priceFrom">
                    <input type="text" placeholder="до (тг)" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" v-model="filterValue.priceTo">
                    <button href="" v-on:click="activateFilter()" class="btn btn-outline-light sectionbtn">Найти жилье</button>
                </div>
            </div>
        </div>
        <section class="group11">
			<div class="container">
				<div class="row tab-header">
					<div class="col-md-4 col-12">
						<p class="active" v-on:click="filterValues.type = 'active'; activateFilter()">Последние добавленные</p>
					</div>
					<div class="col-md-4 col-12" >
						<p v-on:click="filterValues.type = 'famous'; activateFilter()">Популярные</p>
					</div>
					<div class="col-md-4 col-12">
						<p v-on:click="filterValues.type = 'often'; activateFilter()">Часто посещаемые</p>
					</div>
				</div>
			</div>
	    </section>
        <section class="group11-1">
        <div class="container">
            <p>Последние добавленные</p>
            <!-- <p>Популярные</p>
            <p>Часто посещаемые</p> -->
          </div>
	      </section>
    </div>
</template>

<script>
export default {
    name: 'cardFilter',
    data() {
        return {
            filterValue: {priceFrom: null, priceTo: null, type: 'active'}
        }
    },
    methods: {
            activateFilter: function() {
        }
    },
    created() {

    }
}
</script>