<template>
  <div class="col-md-2 section2-icons mx-auto">
    <div class="d-flex justify-content-center align-items-center">
      <img :src="udob.src" />
    </div>
    <p>{{udob.name}}</p>
  </div>
</template>

<script>
export default {
     props: ['udob'],
};
</script>

