<template>
  <div class="col-md-4">
    <div class="card">
      <div class="image">
        <img :src="card.src"  class="card-img" alt="..." />
      </div>

      <div class="card-body">
        <a href="/cardPage">
          <h5 class="card-title">{{card.title}}</h5>
        </a>
        <p class="card-text">
          <small class="text-muted">{{card.price}}</small>
        </p>

        <p class="card-text star">
          <small class="text-muted">
            <a>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{card.rate}}
            </a>
          </small>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name:'Card',
  props: ['card'],
 
 
};
</script>