<template>
    <section class="section4">
    	<div class="container">
    		<h1>МЕСТОПОЛОЖЕНИЕ</h1>
    		<div class="row">
    			<div class="col-md-12 location">
    				
    			</div>
    		</div>
    	</div>
    </section>
</template>

<script>
export default {
    
}
</script>
<style scoped>
.location {
  margin-top: 31px;
  height: 450px;
  background: #c4c4c4 !important;
}

</style>