<template>
  <div class="col-md-4 d-flex justify-content-center align-items-center">
    <div class="CardPageItem">
      <p>{{number.room  }}</p>
      <h1>{{number.price}}</h1>
      <p>{{number.type}}</p>
    </div>
  </div>
</template>

<script>
export default {
    props: ['number']
};
</script>

<style  scoped>
.CardPageItem {
    border: 1px solid #999999;
    margin-top: 50px;
    width: 420%;
    height: 396px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
}

.CardPageItem p {
  margin-top: 60px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 150%;
  line-height: 39px;
  /* identical to box height */

  text-align: center;

  /* Gray */

  color: linear-gradient(0deg, #4a4a4a, #4a4a4a);
}
.CardPageItem h1 {
  margin-top: 50px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 248%;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.05em;

  /* Gray */

  color: linear-gradient(0deg, #4a4a4a, #4a4a4a);
}
</style>