<template>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 left">
          <a href="#" class="navbar-brand logo">GuestHouses</a>
          <div class="content">
            <p class="footer-center-p d-flex content">Компания Guest Houses – онлайн сервис по
              <i @click="show=!show" class="fas fa-angle-down"></I>
            </p>
            
            <transition name="fade">
              <p v-if="show" class="footer-center-p">
                бронированию отелей, гостевых домов, хостелов и апартаментов в Кыргызской Республики.
                Цель компании предоставить гостям широкий спектр услуг по проживанию в номерах от эконом до премиум класса на озере Иссык
                Куль и других городах Кыргызстана
              </p>
            </transition>
         
          </div>
        </div>
        <div class="offset-md-3 col-md-3 right">
          <p>Наши контакты</p>
          <div class="d-flex">
            <span>
              <img src="../assets/images/Vector.png" alt />
            </span>
            <p>+7 727 111 11 11</p>
          </div>
          <div class="d-flex">
            <span>
              <img src="../assets/images/Vector2.png" alt />
            </span>
            <p>+7 727 111 11 11</p>
          </div>
          <div class="d-flex">
            <span>
              <img src="../assets/images/Vector3.png" alt />
            </span>
            <p>info.guesthouses.kg</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-3 col-md-3 order-md-2">
          <p class="myvseti">Мы в сети</p>
          <div class="soc">
            <div class="soc1 skype">
              <i class="fa fa-skype"></i>
            </div>
            <div class="soc1 facebook">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="soc1 youtube">
              <i class="fa fa-youtube-play"></i>
            </div>
          </div>
        </div>
        <div class="col-md-6 order-md-1">
          <p class="footer-p">OO «GuestHouses» 2018. Все права защищены</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data() {
    return {
      show: true,
    };
  },
};
</script>
<style>

</style>