<template>
    <header>
	    <nav class="container navbar navbar-expand-lg ">
            <a class="navbar-brand" href="#">GuestHouses</a>           
            <button class="navbar-toggler icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse offset-md-3 navbar-collapse" id="navbarNav">
                <ul class="navbar-nav group2">
                    <li class="nav-item">
                        <a class="nav-link " href="#">Галерия</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Информация </a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Удобства</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Номера</a>
                    </li>
                    <li class="nav-item" id="items">
                        <a class="nav-link" href="#">Карта</a>
                    </li>
                    <li class="nav-item flag2" id="items">
                     	<a class="nav-link" href="#"><img src="@/assets/images/RU.png" alt=""></a>           
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
    		<div class="row">
    			<div class="order-md-2 col-12 col-md-5  offset-md-4 form">
    				<h1>БРОНИРУЙТЕ ЖИЛЬЕ</h1>
    				<div class="form-title d-flex mx-auto">
    					<p>Прибытие</p>
    					<p>Выезд</p>
    				</div>
    				<div class="form-input d-flex mx-auto">
    					<input class="form-control" type="" name="" placeholder=" дд.мм.гг">
    					<input class="form-control" type="" name="" placeholder=" дд.мм.гг">
    				</div>
    				<input class="input form-control " type="" name="" placeholder="Ф.И.О">
    				<input class="input form-control" type="" name="" placeholder="Электронная почта">
    				<input class="input form-control" type="" name="" placeholder="Телефон">
    				<p class="">Количество гостей</p>
                    <select class="form-control ModalInputs" id="exampleFormControlSelect1">
                        <option>1 гость</option>
                        <option>2 гость</option>
                        <option>3 гость</option>
                        <option>4 гость</option>
                    </select>
    				<button class="bron-btn mx-auto">Бронировать</button>

    			</div>
    			<div class="order-md-1 col-12 col-md-3 ">
    				<button class="show-foto-btn">
    					Просмотреть фото
    				</button>
    			</div>
    		</div>
    	</div>	
    </header> 
</template>

<script>

export default {
    name: 'headerComponent'   
}
</script>

<style scoped>
header{
    background: url(~@/assets/images/cardRectangle\ 12.png);
    height: 900px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background: black;
} 
.navbar-brand{
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 36px;
	line-height: 48px;
	color: #FFFFFF;
}
.icon i {
	color: #FFFFFF;		
}
.group2 li{
	margin-right: 30px;
	text-align: center;
	
}
.group2 a{
	color: #fff !important;
}
.group2 li:nth-child(1){
	margin-right: 30px;
	border-top: 3px solid white;	
}
.group2 li:nth-child(2):hover, .group2 li:nth-child(3):hover,.group2 li:nth-child(4):hover,.group2 li:nth-child(5):hover{
	margin-right: 30px;
	border-top: 3px solid white;	
}
.nav-item{
    margin: auto;
}
.flag2 img{
    margin-top: 0px;
}
.show-foto-btn{
	width: 300px;
	height: 50px;
	margin-top:700px;
	background: #FFFFFF;
	border-radius: 5px;
	border: 1px solid white;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: linear-gradient(0deg, #4A4A4A, #4A4A4A);
}
.form{
	width: 400px;
	height: 679px;
	margin-top: 80px;
    background-color: white;
    border-radius: 10px;
}
.form h1{
	text-align: center;
	margin-top: 40px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 45px;
	letter-spacing: 0.05em;
	color: #000000;
}
.form-title p{
	margin-top: 40px;
	margin: auto;
	margin-left: 20px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
}
.ModalInputs{
    width: 410px;
    height: 50px;
	margin-left: 40px;
	margin-top:20px;
	margin-left: 10px; 
}
.form-input input{
	width: 200px;
	height: 50px;
	margin: 6px;
	margin-top:10px; 
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 29px;
	color: #999999;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 5px;
}
.input{
	width:410px;
	height: 50px;
	margin-left: 40px;
	margin-top:20px;
	margin-left: 10px; 
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	border-radius: 5px;
}
.form p{
	margin-left: 12px;
	margin-top:20px;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #000000;

}
.bron-btn{
	margin-left: 40px;
	width: 409px;
	height: 50px;
	margin-top: 51px;
	background: linear-gradient(0deg, #E73E4B, #E73E4B);
	border-radius: 10px;
	border: 1px solid #E73E4B;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 29px;
	letter-spacing: 0.05em;

	color: #FFFFFF;
}


@media only screen and (max-width: 320px) {
	header{
	    background: url(~@/assets/images/header\ 2.png);
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 300px;
    	margin-top: 30px;
    	/*margin-left: 5px;*/
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 20px;
    }
    .form-input input{
    	width: 136px;
    }
    .input{
    	width: 278px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 288px;
    }
    
}












@media only screen and (min-width: 321px) and (max-width: 360px) {
	header{
	    background: url(~@/assets/images/header\ 2.png);
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 30px;
    	/*margin-left: 5px;*/
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 28px;
    }
    .form-input input{
    	width: 150px;
    }
    .input{
    	width: 320px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 320px;
    }
    
}








@media only screen and (min-width: 361px) and (max-width: 415px) {
	header{
	    background: url(~@/assets/images/header\ 2.png);
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 30px;
    	margin-left: 5px;
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 28px;
    }
    .form-input input{
    	width: 150px;
    }
    .input{
    	width: 324px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 340px;
    }
    
}

@media only screen and (min-width: 416px) and (max-width: 768px) {
	header{
        background: url(~@/assets/images/header\ 2.png);
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 680px;
    	margin-left: 5px;
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 20px;
    }
    .form-input input{
    	width: 123px;
    }
    .input{
    	width: 258px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 260px;
    }
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	header{
        background: url(~@/assets/images/header\ 2.png);
	    height: 900px;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
    .show-foto-btn{
    	width: 340px;
    	margin-top: 680px;
    	margin-left: 5px;
    }
    .form{
    	height: 646px;
    }
    .form h1{
    	font-size: 20px;
    }
    .form-input input{
    	width: 175px;
    }
    .input{
    	width: 357px;
    	margin-top: 20px;
    }
    .bron-btn{
    	margin-top: 20px;
    	width: 370px;
    }
    .group2 li{
		margin-right: 10px;
		text-align: center;
	
	}
	.group2 a{
		color: #fff !important;
	}
	.group2 li:nth-child(1){
		margin-right: 10px;
		border-top: 3px solid white;	
	}
	.group2 li:nth-child(2):hover, .group2 li:nth-child(3):hover,.group2 li:nth-child(4):hover,.group2 li:nth-child(5):hover{
		margin-right: 10px;
		border-top: 3px solid white;	
	}
    
}
</style>